h3 {
  font-size: 28px;
  margin: 20px;
  color: #333;
  text-transform: uppercase;

  padding-bottom: 10px;
}
.movieName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.movieName span {
  font-weight: bold;
  margin-right: 10px;
}

.movieName p {
  margin: 0;
}

.input-sty {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.seatColumn {
  padding: 10px;
  flex: 75%;
  color: black;
}

.img-style {
  width: 900px;
  height: 80px;

  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  justify-content: center;
}

.row {
  display: flex;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.seat {
  width: 10px;
  height: 30px;
  font-size: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 15px 15px 0 0;
  background-color: #f0f0f0;
  color: black;
  padding: 10px;
  padding-right: 20px;
  box-sizing: border-box;
}
.seat:hover {
  background-color: #c766ca94;
}
.seat.selected {
  background-color: #12e8f0;
  color: #fff;
  text-align: center;
}

.seat.booked {
  background-color: palevioletred;
  cursor: not-allowed;
}
.submit-button {
  border-radius: 10px;
  font-size: 16px;
  margin-top: 20px;
  background-color: rgb(238, 30, 99);
}
@media (max-width: 599px) {
  .img-style {
    width: 400px;
    height: 60px;

    margin-bottom: 30px;
  }
  .seat {
    width: 20px;
    height: 20px;
    font-size: 8px;
    line-height: 20px; /* Vertically center seat number */
    padding: 0;
    margin: 1px;
    background-color: white;
    color: black;
  }
  .movieName {
    flex-direction: column;
    align-items: flex-start;
  }

  .movieName div {
    margin-bottom: 10px;
  }
}
@media (min-width: 600px) and (max-width: 959px) {
  .img-style {
    width: 800px;
    height: 70px;

    margin-bottom: 30px;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
}
